
dt {
    font-size: 1em;
    color: var(--color-main);
    justify-content: left;
    padding: 5px;
}

dd {
    font-size: 1em;
    color: var(--color-main);
    display: flex;
    justify-content: left;
    padding: 5px;
}

button {
    align-self: center !important;
    border: none !important;
    border-radius: 5px !important;
    min-width: 20px !important;
    max-height: 30px !important;
    color: var(--color-light) !important;
    padding: 0.4em !important;
    background-color: var(--bg-light) !important;
    box-shadow: 2px 1px var(--bg-main) !important;
}

.editButton {
    min-width: 50px;
    float: right;
    margin-left: 10px;
}

.updateButton {
    min-width: 50px;
    float: right;
}